<div>

    <div class="container">
        <table class="table table-striped">
          <thead>
          </thead>
          <tbody>
            <tr class="col-sm-12">
              <td class="col-sm-6 medida-nombre">Peso</td>
              <td class="col-sm-5 medida-dato"> <input (keyup)="recalculaMetricas(anatomia)" type="numeric"  class="form-control medidaInput" [(ngModel)] = anatomia.peso></td>
              <td class="col-sm-1 medida-unidades">Kg</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Altura</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.altura></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Pliegue Triceps</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PLtriceps></td>
                <td class="col-sm-1 medida-unidades">mm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Pliegue Subescapular</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PLsubescapular></td>
                <td class="col-sm-1 medida-unidades">mm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Pliegue Biceps</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PLbiceps></td>
                <td class="col-sm-1 medida-unidades">mm</td>
            </tr>

            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Pliegue Cresta Iliaca</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PLcrestaIliaca></td>
                <td class="col-sm-1 medida-unidades">mm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Pliegue Supraespinal</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PLsupraespinal></td>
                <td class="col-sm-1 medida-unidades">mm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Pliegue Abdominal</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PLabdominal></td>
                <td class="col-sm-1 medida-unidades">mm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Pliegue Muslo</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PLmuslo></td>
                <td class="col-sm-1 medida-unidades">mm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Pliegue Pierna</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PLpierna></td>
                <td class="col-sm-1 medida-unidades">mm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Perimetro Brazo Relajado</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PRbrazoRelajado></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Perimetro Brazo Flexionado</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PRbrazoFlexionado></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Perimetro Cintura</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PRcintura></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Perimetro Cadera</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PRcadera></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Perimetro Pierna</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PRpierna></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Perimetro Muñeca</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.PRmuneca></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Diametro Humero</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.Dhumero></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
            <tr class="col-sm-12">
                <td class="col-sm-6 medida-nombre">Diametro BiepicondilarFemur</td>
                <td class="col-sm-5 medida-dato"><input (keyup)="recalculaMetricas(anatomia)" type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.DbiepicondilarFemur></td>
                <td class="col-sm-1 medida-unidades">cm</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="historico row">
        <div class="col-sm-12 ">
            <select [(ngModel)]="anatomia" class="selecthistory" (change)="recalculaMetricas(anatomia)">
                <option *ngFor="let anatomia2 of anatomiaList" [ngValue]="anatomia2">
                    <span  *ngIf="anatomia2.activo == 0; else showActual">{{anatomia2.fechaModificacion}}</span>
                </option>
            </select>
        </div>
        <div class="col-sm-12">
            <button (click)="actualizaMedidas()" type="button" class="btn btn-success btnMedidas">Actualiza Medidas</button>
        </div>
      </div>



</div>

<ng-template #showActual>
    Actual
</ng-template>
