<div>
<div class="row col-sm-12">

  <div class="col-sm-2">
    <label>Altura</label>
  </div>
  <div class="col-sm-2 medidaInput">
    <input type="numeric"  class="form-control medidaInput" [(ngModel)] = anatomia.altura>
  </div>
  <div class="col-sm-1 unidades">
    <label >cm</label>
  </div>
  <div class="col-sm-2">
      <label>Peso</label>
    </div>
    <div class="col-sm-2 medidaInput">
      <input type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.peso>
    </div>
    <div class="col-sm-1 unidades">
      <label >Kg</label>
    </div>


</div>
<div class="row col-sm-12">

    <div class="col-sm-2">
      <label>Cintura</label>
    </div>
    <div class="col-sm-2 medidaInput">
      <input type="numeric"   class="form-control medidaInput"  [(ngModel)] = anatomia.cintura>
    </div>
    <div class="col-sm-1 unidades">
      <label >cm</label>
    </div>
    <div class="col-sm-2">
        <label>Brazo</label>
    </div>
    <div class="col-sm-2 medidaInput">
      <input type="numeric"   class="form-control medidaInput" [(ngModel)] = anatomia.brazo>
    </div>
    <div class="col-sm-1 unidades">
      <label >cm</label>
    </div>

</div>
<select class="selecthistory">
    <option *ngFor="let anatomia of anatomiaList">
      <span *ngIf="anatomia.activo == 0; else showActual">{{anatomia.fecha_modificacion}}</span>
    </option>
</select>

<button (click)="actualizaMedidas()" type="button" class="btn btn-success col-sm-12 btnMedidas">Actualiza Medidas</button>

</div>

<ng-template #showActual>
    Actual
</ng-template>