.medidaInput{
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
    width: 100%;
    height: 28px;
    text-align: center

}

.medidas{
    margin-left: 10px;
}

.casilla{
    padding-right: 0px;
}

.btnMedidas{
    position: absolute;
    right:    0;
    bottom:   0;
}

.selecthistory{
    position: absolute;
    right:    0;
    bottom:   0;
    margin-bottom: 40px;
    width:100%;
    text-align: center
}

.unidades{
    padding: 0px;
}
