

<div>
    <tabset>
      <tab heading="Peso"  class="row"  id="tab1">

        <div class="col-sm-12" id="chartContainer">
            <canvas id="peso"></canvas>
        </div>

      </tab>
      <tab heading="Composicion Corporal">
        <div class="row">
            <div class="col-sm-6" id="chartContainer">
              <canvas id="composicion"></canvas>
            </div>
            <div class="col-sm-6" id="chartContainer">
              <canvas id="EvolucionCorporal"></canvas>
            </div>
        </div>

      </tab>
      <tab heading="Somatotipo">
        <div class="row">
            <div class="col-sm-12" id="chartContainer">
              <canvas id="somatotipo"></canvas>
            </div>
        </div>
      </tab>
      <tab heading="Pliegues y Perímetros">
          <div class="row">
              <div class="col-sm-12 titulo">
                Pliegues mm
              </div>
              <div class="col-sm-6" id="chartContainer">
                <canvas id="restoPliegues"></canvas>
              </div>
              <div class="col-sm-6" id="chartContainer">
                <canvas id="sumaPliegues"></canvas>
              </div>
              <div class="col-sm-12 titulo">
                  Perimetros cm
              </div>
              <div class="col-sm-12" id="chartContainer">
                <canvas id="perimetros"></canvas>
              </div>
          </div>
      </tab>
      <tab heading="Ratio Cintura-Cadera">
          <div class="col-sm-12" id="chartContainer">
              <canvas id="ratioCinturaCadera"></canvas>
          </div>
      </tab>
    </tabset>
  </div>