
.cabeceraDatos{
    background-color: rgb(206, 206, 206);
    padding: 1px;
    padding-left: 50px;
    margin-bottom: 10px;
}

.ppal{

    width: 100%;
    padding-left: 30px;


}

.minitable{

    border-style: solid;
    border-radius: 5px;
    padding: 0px;


    height:650px;
    overflow-y: scroll;

}

.botonera{

    margin: 5px;
    margin-top: 20px;

}

