<div class="cabeceraDatos">
    <h3>{{paciente.nombre}} {{paciente.apellido}} {{paciente.email}}</h3>
</div>

<div class="ppal row">
  <div class="minitable col-sm-3">
      <app-dietas-list (editar)="editarDieta($event)"[dietaActiva]="dieta"></app-dietas-list>

      <div class="minititulo">
        Dietas predefinidas
      </div>
      <select (change)="onChange(dieta)" [(ngModel)]="dieta" class="selecthistory">
          <option *ngFor="let d of dietas" [ngValue]="d">
              <span >{{d.nombre}}{{d.fecha}}</span>
          </option>
        </select>
  </div>

  <div class="minitable col-sm-9">
    <div>
      <tabset>
        <tab heading="Lunes" id="tab1" >
          <div>
            <accordion >
              <accordion-group heading="Desayuno" [isOpen]="isOpenLunes">
                <div *ngFor="let d of desayunoLunes" class="row">
                  <div class="col-sm-2">
                    <label>Alimento</label>
                  </div>
                  <div class="col-sm-2">
                    <input (keyup)="onKeyUp(d)" [(ngModel)]="d.nombre" type="text" class="form-control" >
                  </div>
                  <div class="col-sm-2">
                    <label>Cantidad</label>
                  </div>
                  <div class="col-sm-2">
                    <input [(ngModel)]="d.cantidad" value = "0" type="text" class="form-control" >
                  </div>
                  <div class="col-sm-1">
                      <select [(ngModel)]="d.unidades">
                        <option *ngTemplateOutlet="unidades" value="d.unidades">

                        </option>
                      </select>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <button (click)="mas('Lunes','desayuno')" type="button" class="btn btn-success">+</button>
                    </div>
                    <div class="col-sm-1">
                        <button (click)="menos('Lunes','desayuno')" type="button" class="btn btn-danger">-</button>
                    </div>
                </div>

              </accordion-group>
              <accordion-group heading="Post Desayuno" [isOpen]="isOpenAccordion">
                <div *ngFor="let d of postDesayunoLunes" class="row">
                    <div class="col-sm-2">
                      <label>Alimento</label>
                    </div>
                    <div class="col-sm-2">
                      <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                    </div>
                    <div class="col-sm-2">
                      <label>Cantidad</label>
                    </div>
                    <div class="col-sm-2">
                      <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-1">
                          <button (click)="mas('Lunes','postdesayuno')" type="button" class="btn btn-success">+</button>
                      </div>
                      <div class="col-sm-1">
                          <button (click)="menos('Lunes','postdesayuno')" type="button" class="btn btn-danger">-</button>
                      </div>
                  </div>
              </accordion-group>
              <accordion-group heading="Comida" [isOpen]="isOpenAccordion">
                <div *ngFor="let d of comidaLunes" class="row">
                    <div class="col-sm-2">
                      <label>Alimento</label>
                    </div>
                    <div class="col-sm-2">
                      <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                    </div>
                    <div class="col-sm-2">
                      <label>Cantidad</label>
                    </div>
                    <div class="col-sm-2">
                      <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-1">
                          <button (click)="mas('Lunes','comida')" type="button" class="btn btn-success">+</button>
                      </div>
                      <div class="col-sm-1">
                          <button (click)="menos('Lunes','comida')" type="button" class="btn btn-danger">-</button>
                      </div>
                  </div>
              </accordion-group>
              <accordion-group heading="Merienda" [isOpen]="isOpenAccordion">
                <div *ngFor="let d of meriendaLunes" class="row">
                    <div class="col-sm-2">
                      <label>Alimento</label>
                    </div>
                    <div class="col-sm-2">
                      <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                    </div>
                    <div class="col-sm-2">
                      <label>Cantidad</label>
                    </div>
                    <div class="col-sm-2">
                      <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-1">
                          <button (click)="mas('Lunes','merienda')" type="button" class="btn btn-success">+</button>
                      </div>
                      <div class="col-sm-1">
                          <button (click)="menos('Lunes','merienda')" type="button" class="btn btn-danger">-</button>
                      </div>
                  </div>
              </accordion-group>
              <accordion-group heading="Cena" [isOpen]="isOpenAccordion">
                <div *ngFor="let d of cenaLunes" class="row">
                    <div class="col-sm-2">
                      <label>Alimento</label>
                    </div>
                    <div class="col-sm-2">
                      <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                    </div>
                    <div class="col-sm-2">
                      <label>Cantidad</label>
                    </div>
                    <div class="col-sm-2">
                      <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-1">
                          <button (click)="mas('Lunes','cena')" type="button" class="btn btn-success">+</button>
                      </div>
                      <div class="col-sm-1">
                          <button (click)="menos('Lunes','cena')" type="button" class="btn btn-danger">-</button>
                      </div>
                  </div>
              </accordion-group>
            </accordion>
          </div>
        </tab>
        <tab heading="Martes">

            <div>
                <accordion >
                  <accordion-group heading="Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of desayunoMartes" class="row">
                      <div class="col-sm-2">
                        <label>Alimento</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                      </div>
                      <div class="col-sm-2">
                        <label>Cantidad</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <button (click)="mas('Martes','desayuno')" type="button" class="btn btn-success">+</button>
                        </div>
                        <div class="col-sm-1">
                            <button (click)="menos('Martes','desayuno')" type="button" class="btn btn-danger">-</button>
                        </div>
                    </div>
                  </accordion-group>
                  <accordion-group heading="Post Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of postDesayunoMartes" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Martes','postdesayuno')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Martes','postdesayuno')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Comida" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of comidaMartes" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Martes','comida')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Martes','comida')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Merienda" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of meriendaMartes" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Martes','merienda')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Martes','merienda')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Cena" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of cenaMartes" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Martes','cena')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Martes','cena')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                </accordion>
              </div>

        </tab>
        <tab heading="Miercoles">

            <div>
                <accordion >
                  <accordion-group heading="Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of desayunoMiercoles" class="row">
                      <div class="col-sm-2">
                        <label>Alimento</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                      </div>
                      <div class="col-sm-2">
                        <label>Cantidad</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <button (click)="mas('Miercoles','desayuno')" type="button" class="btn btn-success">+</button>
                        </div>
                        <div class="col-sm-1">
                            <button (click)="menos('Miercoles','desayuno')" type="button" class="btn btn-danger">-</button>
                        </div>
                    </div>
                  </accordion-group>
                  <accordion-group heading="Post Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of postDesayunoMiercoles" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Miercoles','postdesayuno')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Miercoles','postdesayuno')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Comida" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of comidaMiercoles" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Miercoles','comida')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Miercoles','comida')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Merienda" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of meriendaMiercoles" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Miercoles','merienda')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Miercoles','merienda')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Cena" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of cenaMiercoles" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Miercoles','cena')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Miercoles','cena')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                </accordion>
              </div>

        </tab>
        <tab heading="Jueves">

            <div>
                <accordion >
                  <accordion-group heading="Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of desayunoJueves" class="row">
                      <div class="col-sm-2">
                        <label>Alimento</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                      </div>
                      <div class="col-sm-2">
                        <label>Cantidad</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <button (click)="mas('Jueves','desayuno')" type="button" class="btn btn-success">+</button>
                        </div>
                        <div class="col-sm-1">
                            <button (click)="menos('Jueves','desayuno')" type="button" class="btn btn-danger">-</button>
                        </div>
                    </div>
                  </accordion-group>
                  <accordion-group heading="Post Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of postDesayunoJueves" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Jueves','postdesayuno')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Jueves','postdesayuno')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Comida" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of comidaJueves" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Jueves','comida')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Jueves','comida')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Merienda" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of meriendaJueves" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Jueves','merienda')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Jueves','merienda')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Cena" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of cenaJueves" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Jueves','cena')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Jueves','cena')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                </accordion>
              </div>

        </tab>
        <tab heading="Viernes">

            <div>
                <accordion >
                  <accordion-group heading="Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of desayunoViernes" class="row">
                      <div class="col-sm-2">
                        <label>Alimento</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                      </div>
                      <div class="col-sm-2">
                        <label>Cantidad</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <button (click)="mas('Viernes','desayuno')" type="button" class="btn btn-success">+</button>
                        </div>
                        <div class="col-sm-1">
                            <button (click)="menos('Viernes','desayuno')" type="button" class="btn btn-danger">-</button>
                        </div>
                    </div>
                  </accordion-group>
                  <accordion-group heading="Post Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of postDesayunoViernes" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Viernes','postdesayuno')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Viernes','postdesayuno')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Comida" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of comidaViernes" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Viernes','comida')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Viernes','comida')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Merienda" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of meriendaViernes" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Viernes','merienda')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Viernes','merienda')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Cena" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of cenaViernes" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Viernes','cena')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Viernes','cena')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                </accordion>
              </div>

        </tab>
        <tab heading="Sabado">

            <div>
                <accordion >
                  <accordion-group heading="Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of desayunoSabado" class="row">
                      <div class="col-sm-2">
                        <label>Alimento</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                      </div>
                      <div class="col-sm-2">
                        <label>Cantidad</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <button (click)="mas('Sabado','desayuno')" type="button" class="btn btn-success">+</button>
                        </div>
                        <div class="col-sm-1">
                            <button (click)="menos('Sabado','desayuno')" type="button" class="btn btn-danger">-</button>
                        </div>
                    </div>
                  </accordion-group>
                  <accordion-group heading="Post Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of postDesayunoSabado" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Sabado','postdesayuno')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Sabado','postdesayuno')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Comida" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of comidaSabado" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Sabado','comida')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Sabado','comida')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Merienda" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of meriendaSabado" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Sabado','merienda')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Sabado','merienda')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Cena" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of cenaSabado" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Sabado','cena')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Sabado','cena')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                </accordion>
              </div>

        </tab>
        <tab heading="Domingo">

            <div>
                <accordion >
                  <accordion-group heading="Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of desayunoDomingo" class="row">
                      <div class="col-sm-2">
                        <label>Alimento</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                      </div>
                      <div class="col-sm-2">
                        <label>Cantidad</label>
                      </div>
                      <div class="col-sm-2">
                        <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <button (click)="mas('Domingo','desayuno')" type="button" class="btn btn-success">+</button>
                        </div>
                        <div class="col-sm-1">
                            <button (click)="menos('Domingo','desayuno')" type="button" class="btn btn-danger">-</button>
                        </div>
                    </div>
                  </accordion-group>
                  <accordion-group heading="Post Desayuno" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of postDesayunoDomingo" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Domingo','postdesayuno')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Domingo','postdesayuno')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Comida" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of comidaDomingo" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Domingo','comida')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Domingo','comida')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Merienda" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of meriendaDomingo" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Domingo','merienda')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Domingo','merienda')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                  <accordion-group heading="Cena" [isOpen]="isOpenAccordion">
                    <div *ngFor="let d of cenaDomingo" class="row">
                        <div class="col-sm-2">
                          <label>Alimento</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.nombre" type="text" class="form-control" >
                        </div>
                        <div class="col-sm-2">
                          <label>Cantidad</label>
                        </div>
                        <div class="col-sm-2">
                          <input [(ngModel)]="d.cantidad"  type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-1">
                              <button (click)="mas('Domingo','cena')" type="button" class="btn btn-success">+</button>
                          </div>
                          <div class="col-sm-1">
                              <button (click)="menos('Domingo','cena')" type="button" class="btn btn-danger">-</button>
                          </div>
                      </div>
                  </accordion-group>
                </accordion>
              </div>

        </tab>
      </tabset>
    </div>
</div>

<div class="row col-sm-12 botonera">
  <div class="col-sm-2">
    <input [(ngModel)]="dieta.nombre" placeholder="Nombre de la dieta" type="text" class="form-control" >
  </div>
  <div class="col-sm-2">
      <button (click)="guardarDieta()" type="button" class="btn btn-success">Guardar Dieta</button>
  </div>
  <div id="textoToggle" class="col-sm-1">
      Abrir Todos
  </div>
  <div class="col-sm-1 switch">
      <label class="switch">
        <input type="checkbox">
        <span (click)="expandCollapse()" class="slider round"></span>
       </label>
  </div>
 </div>


 <ng-template #unidades>
    <option value="gramos">
        gramos
    </option>
    <option value="litros">
        litros
    </option>
    <option value="unidades">
        unidades
    </option>
</ng-template>
