 IMC {{metricas.Imc | number:'1.3'}}<br>
 Indice Cintura cadera {{metricas.IndiceCinturaCadera | number:'1.3'}}<br>
 Porcentaje grasa  Por hacer <br>
 Indice Ponderal {{metricas.IndicePonderal | number:'1.3'}}<br>
 Ratio Muñeca Altura {{metricas.RatioMunecaAltura | number:'1.3'}}<br>
 Ratio Muñeca cadera {{metricas.RatioMunecaCadera | number:'1.3'}}<br>
 Masa Osea{{metricas.MasaOsea | number:'1.3'}}<br>
 Masa residual {{metricas.MasaResidual | number:'1.3'}}<br>
 Masa Muscular{{metricas.MasaMuscular | number:'1.3'}}<br>

