
.list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.metrica-nombre{
    border-right: solid;
}

.metrica-valor{
    text-align: center;
    font-weight: bold;
}

.verde{
    background-color: #c3e6cb;
}

.amarillo{
    background-color: #ffeeba;
}

.naranja{
    background-color: #db7d02;
}


.rojoInf{
    background-color: #f5c6cb;
}

.rojoSup{
    background-color: #f5c6cb;
}