

<ul class="list-group">
    <li class="list-group-item " [ngClass]="{
        'rojo': metricas.Imc < 18.4 ,
        'verde' : metricas.Imc >= 18.5 && metricas.Imc <= 24.9 ,
        'amarillo' : metricas.Imc >= 25 && metricas.Imc <= 29.9 ,
        'naranja' : metricas.Imc >= 30  && metricas.Imc <= 34.9 ,
        'rojo' : metricas.Imc > 35
        }">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                IMC
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.Imc | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Indice Cintura cadera
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.IndiceCinturaCadera | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Porcentaje grasa
            </div>
            <div class="col-sm-6 metrica-valor">
                Por hacer
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Indice Ponderal
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.IndicePonderal | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Ratio Muñeca Altura
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.RatioMunecaAltura | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Ratio Muñeca Cadera
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.RatioMunecaCadera | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Masa Osea
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.MasaOsea | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Masa Muscular
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.MasaMuscular | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Masa residual
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.MasaResidual | number:'1.3'}}
            </div>
        </div>
    </li>


</ul>



