

<ul class="list-group">
    <li class="list-group-item " [ngClass]="{
        'rojo': metricas.Imc < 18.4 ,
        'verde' : metricas.Imc >= 18.5 && metricas.Imc <= 24.9 ,
        'amarillo' : metricas.Imc >= 25 && metricas.Imc <= 29.9 ,
        'naranja' : metricas.Imc >= 30  && metricas.Imc <= 34.9 ,
        'rojo' : metricas.Imc > 35
        }">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                IMC
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.Imc | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Ratio Cintura cadera
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.RatioCinturaCadera | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Suma 6 pliegues
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.Suma6Pliegues | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Suma 8 pliegues
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.Suma8Pliegues | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                % Grasa
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.PorcentGrasa | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                % Óseo
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.PorcentOsea | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                % Músculo
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.PorcentMuscular | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                % Residual
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.PorcentResidual | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Masa Grasa
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.MasaGrasa | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Masa Osea
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.MasaOsea | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Masa Muscular
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.MasaMuscular | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Masa Residual
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.MasaResidual | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Somatotipo
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.Somatotipo}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Endomorfo
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.Endomorfo | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                Mesomorfo
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.Mesomorfo | number:'1.3'}}
            </div>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="row">
            <div class="col-sm-6 metrica-nombre">
                    Ectomorfo
            </div>
            <div class="col-sm-6 metrica-valor">
                {{metricas.Ectomorfo | number:'1.3'}}
            </div>
        </div>
    </li>


</ul>



