<div style="text-align:center">
  <h1>
  Login
  </h1>
  <div>
    <label>Usuario:
      <input [(ngModel)] = email placeholder="Correo Electronico">
    </label> <br>
    <label>Contraseña:
      <input [(ngModel)] = password>
    </label> <br>
    <label>
        <button (click)="logIn()" type="button" class="btn btn-success">Log-In</button>
        <nav>
            <a routerLink="/codigoRegistro">Tengo un codigo</a>
        </nav>
        <div *ngIf="!valido">No Valido</div>
    </label>
  </div>

</div>