
<div class="login-container ">
    <div class="row">
        <div class="col-md-6 form">
            <h3>NutriGestion</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" name="login" [(ngModel)] = email >
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" name="login" [(ngModel)] = password >
                </div>
                <div class="form-group">
                    <input type="button" class="btnSubmit" value="Log-In" (click)="logIn()" >
                </div>
                <div class="form-group">
                    <a routerLink="/codigoRegistro" class="ForgetPwd">Tengo un Código</a>
                </div>
                <div *ngIf="!valido">No Válido</div>
            </form>
        </div>
    </div>
</div>
