
<div class="cabeceraDatos">
    <h3>{{paciente.nombre}} {{paciente.apellido}} {{paciente.email}}</h3>
</div>
<div *ngIf="patologiasPaciente.length != 0" class="cabeceraPatologias row">
  <div *ngFor="let patologia of patologiasPaciente" class="col-sm-2">
    {{patologia.nombre | uppercase}}
  </div>
</div>

<div class="panel col-sm-12 row ">

    <div class="col-sm-3">
      <div class="minitable ">
        <div class = "centeredItem minititulo">Proxima Cita</div>
        <li class="list-group-item list-group-item-success py-1" *ngIf="conCita">
          {{citaActiva.fecha.getUTCDate()}}/{{citaActiva.fecha.getUTCMonth() | number : '2.0-0'}}/{{citaActiva.fecha.getUTCFullYear()}}
          <i class="fa fa-arrow-right"></i>
          {{citaActiva.fecha.getHours() + desfase}}:{{citaActiva.fecha.getUTCMinutes() | number : '2.0-0'}}
          <i (click)="cancelCita(citaActiva)" class="far fa-times-circle"></i>
        </li>
        <li class="list-group-item list-group-item-success py-1" *ngIf="!conCita">
            Sin Cita Asignada
          </li>
          <hr>
          <div class = "centeredItem minititulo">Citas Anteriores</div>
        <li class="list-group-item list-group-item-warning py-1"  *ngFor="let cita of citas">
            {{cita.fecha.getUTCDate()}}/{{cita.fecha.getUTCMonth() | number : '2.0-0'}}/{{cita.fecha.getUTCFullYear()}}
             <i class="fa fa-arrow-right"></i>
            {{cita.fecha.getHours() + desfase}}:{{cita.fecha.getUTCMinutes() | number : '2.0-0'}}
          </li>
      </div>
    </div>

    <div class="col-sm-9">

        <div class="minitable col-sm-12 row ">
          <div class=" miniminitable col-sm-6">
              <div class="minititulo ">
                Medidas
              </div>
            <app-medidas [anatomia] = "anatomia" [anatomiaList] = "anatomiaList" (recalculaEvent)="recalculaMetricas($event)"></app-medidas>
          </div>
          <div class=" miniminitable col-sm-6">
              <div class="minititulo ">
                Metricas
              </div>
            <app-metricas [metricas] = "metricas" #child></app-metricas>
          </div>
        </div>



    </div>
    <div class="panel col-sm-12 row buttonrow ">
      <div class="col-sm-2 ">
        <button (click)="openModal(template)" type="button" class="btn btn-success">Nueva Cita</button>
      </div>
      <div class="col-sm-2 ">
        <button (click)="cancelCita(citaActiva)" type="button" class="btn btn-success">Atendido</button>
      </div>
      <div class="col-sm-2 ">
        <button (click)="dietas()" type="button" class="btn btn-primary">Dietas</button>
      </div>
      <div class="col-sm-2 ">
          <button (click)="openModalPatologias(templatePatologias)" type="button" class="btn btn-warning">Patologias</button>
      </div>
      <div class="col-sm-2 ">
          <button (click)="progreso()" type="button" class="btn btn-primary">Progreso</button>
        </div>
      <div class="col-sm-2 ">
        <button (click)="desactivarPaciente()" type="button" class="btn btn-danger">Desactivar Paciente</button>
      </div>

     </div>

  </div>

<!-- Modal -->
  <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Nueva Cita</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div>
              <input type="text" placeholder="Fecha" class="form-control center-div" bsDatepicker [(ngModel)] = fecha
              bsDatepicker [daysDisabled]="[]" [minDate]="minDate"><br>
              <div class="row ">
                <div class="col-sm-5 ">
                    <input type="number" class="form-control " id="hora" min="8" max="20" [(ngModel)] = hora />
                </div>
                <div class="col-sm-2 centeredItem ">
                    :
                </div>
                <div class="col-sm-5 ">
                    <input type="number" class="form-control " id="min" min="0" max="60" [(ngModel)] = minuto>
                </div>

              </div>
              <button (click)="addCita()" type="button" class="btn btn-success nuevaCitabtn">Nueva Cita</button>
            </div>

      </div>
    </ng-template>

<!-- Modal Patologias-->
  <ng-template #templatePatologias>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Patologias</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefPatologias.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="card" style="margin:50px 0">

                  <div class="card-header">Patologias</div>

                    <ul class="list-group list-group-flush">

                      <li *ngFor="let patologia of listaPatologias" class="list-group-item">
                        {{patologia.nombre | uppercase}}
                        <label class="switch ">
                        <input type="checkbox" class="default" name="patologias" value={{patologia.id}}
                        (change)="changePatologias($event, patologia)" [checked]="patologia.checked ">
                        <span class="slider round"></span>
                        </label>
                      </li>

                    </ul>
                  </div>

              </div>

            </div>
            <div class="row nuevaPatologia">
                <div class="col-md-10">
                    <input [(ngModel)] = "nuevaPatologia.nombre" class="input-group input-group-sm" type="text" [disabled] = "isDisabled" >
                </div>
                <div class="col-md-2">
                    <button (click)="agregarNuevaPatologia()" type="button" class="btn btn-success btn-sm">+</button>
                </div>
            </div>

            <button (click)="actualizaPatologias()" type="button" class="btn btn-success">Guardar</button>
        </div>

      </div>
    </ng-template>
