
<div class="cabeceraDatos">
    <h3>{{paciente.nombre}} {{paciente.apellido}} {{paciente.email}}</h3>
</div>

<div class="panel col-sm-12 row ">

    <div class="col-sm-3">
      <div class="minitable">
        Proxima Cita
        <hr>
        <li class="list-group-item list-group-item-success py-1" *ngIf="conCita">
          {{citaActiva.fecha_cita}} <i (click)="cancelCita(citaActiva)" class="far fa-times-circle"></i>
        </li>
        <li class="list-group-item list-group-item-success py-1" *ngIf="!conCita">
            Sin Cita Asignada
          </li>
        <hr>
        Citas Anteriores
        <hr>
        <li class="list-group-item list-group-item-warning py-1" *ngFor="let cita of citas">
            {{cita.fecha_cita}}
          </li>
      </div>
    </div>

    <div class="col-sm-9">

        <div class="minitable col-sm-12 row ">
          <div class=" miniminitable col-sm-6">
              <div class="minitutulo ">
                Medidas
              </div>
            <app-medidas></app-medidas>
          </div>
        </div>



    </div>

  </div>

<br>
<br>
<div *ngIf="paciente" style="text-align:center">

  <h2>{{paciente.nombre}}</h2>


  <input type="text" placeholder="Fecha" class="form-control, center-div" bsDatepicker [(ngModel)] = fecha><br>
  <div>
    <input type="number" id="hora" min="8" max="20" [(ngModel)] = hora /> :
    <input type="number" id="min" min="0" max="60" [(ngModel)] = minuto>
  </div>
  <button (click)="addCita()" type="button" class="btn btn-success">Nueva Cita</button>
  <br>
  <br>
  Todas
  <br>
  <li *ngFor="let cita of citas">
    <span >{{cita.fecha_cita}} </span>
  </li><br>
  Activas
  <br>
  <li *ngIf="conCita">
    <span >{{citaActiva.fecha_cita}} </span><i (click)="cancelCita(citaActiva)" class="far fa-times-circle"></i>
  </li><br>

  <div>

      <button (click)="desactivarPaciente()" type="button" class="btn btn-danger">Desactivar Paciente</button><br>

  </div>






</div>