
.cabeceraDatos{
    background-color: rgb(206, 206, 206);
    padding: 1px;
    padding-left: 50px;
}

.cabeceraPatologias{
  background-color: rgb(189, 46, 46);
  color: white;
  font-size: 15px;
  padding: 1px;
  padding-left: 50px;
}

.panel {

    margin-top: 12px;
    padding-right: 0px;
    margin-left: 4px;

}


.minitable{

    border-style: solid;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;


    height:550px;
    overflow-y: scroll;

}

.miniminitable{
    padding-left: 0px;
    padding-right: 0px;
    border-right-style: solid;
}

.buttonrow{
    margin-top: 20px;
    margin-left: 10px;
}

.minititulo{
    background-color: aliceblue;
    text-align: center;
    border-bottom-style: solid;
    margin-bottom: 2%;
}

hr{
    height: 1.5px;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    margin-top: 1px;
    margin-bottom:5px;


}

.form-control{
    text-align: center;
}
.centeredItem{
    text-align: center;
}
.nuevaCitabtn{
    margin-top: 12px;
}


.btn{
    width: 100%;
}

.list-group-item{
    color: black;
}

.col-sm-9{
    padding-left: 1px;
}
.col-sm-3{
    padding-left: 10px;
}

.fa-times-circle{
    margin-left: 30%;
    color: red;
}








/* El switch del modal */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float:right;
  }

  /* Escondo el por defecto*/
  .switch input {display:none;}

  /* Slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input.default:checked + .slider {
    background-color: #2196F3;
  }
  input.primary:checked + .slider {
    background-color: #2196F3;
  }
  input.success:checked + .slider {
    background-color: #8bc34a;
  }
  input.info:checked + .slider {
    background-color: #3de0f5;
  }
  input.warning:checked + .slider {
    background-color: #FFC107;
  }
  input.danger:checked + .slider {
    background-color: #f44336;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  /* Redondos*/
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


