<div>

    <div class="row">
        <div class="col-sm-2">
                <div class= "dia">
                    Lunes
                </div>
                <div class= "franja">
                    Desayuno
                </div>
            <table class="table table-striped">
                    <thead>
                        <tr>
                        <th>Alimento</th>
                        <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lunes of alimentoLunes" >
                            <td *ngIf="lunes[franja] == desayuno">{{lunes.nombre}}</td>
                            <td *ngIf="lunes[franja] == desayuno">{{lunes.cantidad}}</td>
                        </tr>
                    </tbody>
            </table>

        </div>
    </div>



