<div>

  Pacientes con Cita <br>
  <li class="list-group-item list-group-item-success py-1" *ngFor="let paciente of listaPacientesCita"
    (click)="verDetalle(paciente)">
    <div class="row" tooltip={{paciente.email}} placement="bottom">
      <div class="col-sm-6">
          {{paciente.nombre}} {{paciente.apellido}}
      </div>
      <div class="col-sm-6">
        {{paciente.citas[0].fecha.getUTCDate()}}/{{paciente.citas[0].fecha.getUTCMonth() | number : '2.0-0'}}/{{paciente.citas[0].fecha.getUTCFullYear()}}
        <i class="fa fa-arrow-right"></i>
        {{paciente.citas[0].fecha.getHours() + desfase}}:{{paciente.citas[0].fecha.getUTCMinutes() | number : '2.0-0'}}
      </div>
    </div>

  </li>


  Pacientes <br>
  <li class="list-group-item list-group-item-warning py-1" *ngFor="let paciente of listaPacientesActivo"
    (click)="verDetalle(paciente)">
    <div class="row" tooltip={{paciente.email}} placement="bottom">
        <div class="col-sm-6">
            {{paciente.nombre}} {{paciente.apellido}}
        </div>
        <div class="col-sm-6">
            Sin cita
        </div>
    </div>

  </li>

  Pacientes Baja <br>
  <li class="list-group-item list-group-item-danger py-1" *ngFor="let paciente of listaPacientesBaja">
  <div class="row" tooltip={{paciente.email}} placement="bottom">
      <div class="col-sm-6">
          {{paciente.nombre}} {{paciente.apellido}}
      </div>
  </div>

</li>

  <div class="busqueda">
      <div class="col-sm-12 ">
          <input placeholder="Buscar" (keyup)="busca()" [(ngModel)] = textoBusqueda type="numeric"   class="form-control textoBusqueda" >
      </div>
  </div>


</div>

