<div >

  Pacientes con Cita <br>
  <li class="list-group-item list-group-item-success py-1" *ngFor="let paciente of listaPacientesCita"
    (click)="verDetalle(paciente)">
    <div class="row">
      <div class="col-sm-6">
          {{paciente.nombre}} {{paciente.apellido}}
      </div>
      <div class="col-sm-6">
        {{paciente.citas[0].fecha.getUTCDate()}}/{{paciente.citas[0].fecha.getUTCMonth() | number : '2.0-0'}}/{{paciente.citas[0].fecha.getUTCFullYear()}}
        <i class="fa fa-arrow-right"></i>
        {{paciente.citas[0].fecha.getHours() + desfase}}:{{paciente.citas[0].fecha.getUTCMinutes() | number : '2.0-0'}}
      </div>
    </div>

  </li>


  Pacientes <br>
  <li class="list-group-item list-group-item-warning py-1" *ngFor="let paciente of listaPacientesActivo"
    (click)="verDetalle(paciente)">
    <span >{{paciente.nombre}} {{paciente.apellido}} Sin cita </span>
  </li>

  Pacientes Baja <br>
  <li class="list-group-item list-group-item-danger py-1" *ngFor="let paciente of listaPacientesBaja">
    <span id="baja">{{paciente.nombre}} {{paciente.apellido}}</span>
  </li>


</div>


<div class="busqueda row">

        <input  [(ngModel)] = textoBusqueda type="numeric"   class=" col-sm-10 form-control textoBusqueda" >


        <button type="button" class=" col-sm-1 btn btn-success">
            <i class="fas fa-search fa-2x"></i>
        </button>




</div>
