<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top topnav">
    <div class="container">
        {{profesional.nombre}}

    </div>
</nav>



<div class="principal col-sm-12 row " *ngIf="autorizado">

  <div class="col-sm-5">
    <div class="minitable">
      Proximas Citas
      <hr>
      <app-pacientes-list [profesional]="profesional"></app-pacientes-list>
    </div>
  </div>

  <div class="col-sm-7">
      <div class="minitable">
        Nuevo Paciente
        <hr>

        <div class="nuevoPacienteContainer ">
          <div class="row">
            <div class="col-md-6 form">
                <div>
                    <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)] = nuevoPaciente.nombre >
                    <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)] = nuevoPaciente.email >
                    <input type="password" class="form-control" placeholder="Password" name="pass" [(ngModel)] = nuevoPaciente.password >
                </div>

              <div class="form-group">
                  <input type="button" class="btnSubmit" value="Crear" (click)="insertaPaciente()" >
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
</div>

<div class="principal" *ngIf="!autorizado">
  No Autorizado
</div>

