<div *ngIf="autorizado">
  {{profesional.nombre}}
  <div style="text-align:center">
    <h1>

    </h1>
    <div>
      <label>Nombre:
        <input [(ngModel)] = nuevoPaciente.nombre >
      </label> <br>
      <label>email:
        <input [(ngModel)] = nuevoPaciente.email >
      </label> <br>
      <label>password:
        <input [(ngModel)] = nuevoPaciente.password >
      </label> <br>
      <button (click)="insertaPaciente()">Crear</button><br>

    </div>

  </div>
</div>

<div *ngIf="!autorizado">
  No Autorizado
</div>