.topnav {

    padding-bottom: 5px;
    color: white;

}

.principal {

    margin-top: 95px;


}


.minitable{

    border-style: solid;
    border-radius: 5px;

    height:550px;
    overflow-y: scroll;
}

hr{
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    margin-top: 1px;
    margin-bottom:2px;


}

.minititulo{
    background-color: aliceblue;
    text-align: center;
    border-bottom-style: solid;
    margin-bottom: 2%;
}



.nuevoPacienteContainer{
    margin: 5%;
}
.form{
    padding: 5%;
}

.form-control{
    margin: 5px;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #02ad2d;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30%;
}
.btnSubmit:hover{
    background-color: #03a02a;
}

#controles{
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.botonera{
    padding: 30px;
}

.botonMenu {
    padding:80px;

    border-radius: 8px;
    width: 100%;
    height: 100%
}

#botonDietas {
    background-color: rgb(233, 105, 0);
    color: white;
    font-size: 22px;
    font-weight: bold;
}

#botonDietas:hover {
    background-color: rgb(204, 92, 0);
    color: white;
    font-size: 22px;
    font-weight: bold;
}

