<div>

    <li class="list-group-item list-group-item-success py-1" id="activa" >
        <div class="row" >
            <div class="col-sm-9" (click) = verDieta(dietaActiva)>
                <span >{{dietaActiva.nombre}} {{dietaActiva.fecha}}</span>
            </div>
            <div class="col-sm-2">
                <button type="button" (click) = "editarDieta(dietaActiva)" class="btn btn-outline-dark btn-xs">Editar</button>
            </div>
          </div>
    </li>


    <li class="list-group-item list-group-item-warning py-1" *ngFor="let dieta of dietas" id="anterior">
      <div class="row" >
        <div class="col-sm-9" (click) = verDieta(dieta)>
            <span > {{dieta.nombre}} {{dieta.fecha}} </span>
        </div>
        <div class="col-sm-2">
            <button type="button" (click) = "editarDieta(dieta)" class="btn btn-outline-dark btn-xs">Editar</button>
        </div>
      </div>

    </li>




  </div>
