<div *ngIf="!muestraExito" style="text-align:center">
  <h1>
  Resgistro Profesional
  </h1>
  <div>
    <label>Correo:
      <input [(ngModel)]="profesional.correo"placeholder="Correo Electronico">
    </label> <br>
    <label>Contraseña:
      <input [(ngModel)]="profesional.pass">
    </label> <br>
    <button (click)="registrar()"> Registrar</button><br>
    <div *ngIf="correoDuplicado">No Valido</div>
  </div>

</div>


<div *ngIf="muestraExito" style="text-align:center">
  <h1>
  Registrado con exito, redirigiendo a log-in
  </h1>


</div>